# Exploration Notebook - Jacopo

**Folder Structure**: 
- `data/` - all data 
- `data/twitter-datasets/` - provided data
- `project_text_classification/` - provided code

In [5]:
# Basic imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
# Load data, txt as csv
data_path = 'data/twitter-datasets/'
df_train_pos = pd.read_csv(data_path + 'train_pos.txt', sep = '\t', names = ['tweet'])
df_train_pos['label'] = 1
df_train_neg = pd.read_csv(data_path + 'train_neg.txt', sep = '\t', names = ['tweet'])
df_train_neg['label'] = 0
df_train = pd.concat([df_train_pos, df_train_neg])
print('Train set: ', df_train.shape)
print('Train set positives: ', df_train_pos.shape)
print('Train set negatives: ', df_train_neg.shape)

Train set:  (196970, 2)
Train set positives:  (97902, 2)
Train set negatives:  (99068, 2)

In [8]:
df_train_pos.head()

                                               tweet  label
0  <user> i dunno justin read my mention or not ....      1
1  because your logic is so dumb , i won't even c...      1
2   <user> just put casper in a box !  looved the...      1
3  <user> <user> thanks sir > > don't trip lil ma...      1
4  visiting my brother tmr is the bestest birthda...      1

In [9]:
df_train_neg.head()

                                               tweet  label
0  vinco tresorpack 6 ( difficulty 10 of 10 objec...      0
1  glad i dot have taks tomorrow ! ! #thankful #s...      0
2  1-3 vs celtics in the regular season = were fu...      0
3  <user> i could actually kill that girl i'm so ...      0
4  <user> <user> <user> i find that very hard to ...      0